{{define "breadcrumbs"}}
{{if gt (len .Breadcrumbs) 1}}
    <nav class="breadcrumbs" aria-label="Breadcrumb">
        <ol>
            {{range .Breadcrumbs}}
                <li>
                    {{if .Href}}
                        <a href="{{.Href}}">{{.Label}}</a>
                    {{else}}
                        <span aria-current="page">{{.Label}}</span>
                    {{end}}
                </li>
            {{end}}
        </ol>
    </nav>
{{end}}
{{end}}
