{{define "breadcrumbs"}}
{{with .Breadcrumbs}}
    <nav class="breadcrumbs" aria-label="Breadcrumb">
        <ol>
            {{range .}}
                <li>
                    {{if .Href}}
                        <a href="{{.Href}}">{{.Label}}</a>
                    {{else}}
                        <span aria-current="page">{{.Label}}</span>
                    {{end}}
                </li>
            {{end}}
        </ol>
    </nav>
{{end}}
{{end}}
