{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{template "title" .}}</title>

    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/layout.css">

    <link rel="stylesheet" href="/static/css/components/nav.css">
    <link rel="stylesheet" href="/static/css/components/breadcrumbs.css">
    <link rel="stylesheet" href="/static/css/components/section-heading.css">
    <link rel="stylesheet" href="/static/css/components/book-card.css">
    <link rel="stylesheet" href="/static/css/components/compact-card.css">

    <link rel="stylesheet" href="/static/css/pages/home.css">
    {{/*<link rel="stylesheet" href="/static/css/pages/catalog.css">*/}}
    <link rel="stylesheet" href="/static/css/pages/book-details.css">

    <link rel="stylesheet" href="/static/css/components/cover.css">

    <script defer src="/static/js/app.js"></script>
</head>
<body>
    <header class="container">
        {{template "nav" .}}
    </header>

    <main class="container">
        {{template "breadcrumbs" .}}
        {{template "main" .}}
    </main>
</body>
</html>
{{end}}
